@media (max-width: 500px) {
  #main-header {
    .navbar-collapse {
      .nav {
        justify-content: flex-end;
      }
    }
  }

  #responsive-header {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 501px) {
  #responsive-header {
    display: none;
  }
}

@media (max-width: 500px) {
  #main-header {
    display: none;
  }
}


.nav-link {
  color: white;

  &:hover {
    color: #007bff;
  }
  
  i {
    font-size: 40px;
  }
}

@media (max-width: 350px) {
  .nav-link i {
    font-size: 30px;
  }
}
