.modal-header {
  img {
    object-fit: cover;
  }
}

.toDelete {
  opacity: .2;
}

.gallery-button {
  display: none;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.trick {
  &__slider--images {
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: auto;

    .card {
      flex: 0 0 15% !important;

      img {
        object-fit: cover;
      }
    }
  }

  &__information--container {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 0 5px;
      }
    }
  }
}

.trick__comments {
  &--img {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  &--comment {
    box-shadow: #565656 -2px 1px 3px;
  }
  &--content {
    font-size: 15px;
  }
}

.trick_form_title {
  border-top: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  color: white;
  margin: auto;
  width: 100%;
  background: #343a40;
  text-align: center;
  padding: 10px 0;
}

@media (min-width: 640px) {
  .comments__section, .trick_edit_form, .trick__information--container {
    width: 75%;
    margin: auto;

    h5 {
      text-align: center;
    }
  }

  .trick_edit_form {
    button {
      width: 35%;
      margin: auto;
    }
  }
}

@media (max-width: 740px) {
  .gallery {
    display: none;
  }

  .gallery-button {
    display: flex;
  }
}
