{% extends('trick_management.html.twig') %}

{% block title %}SnowTricks - Ajouter une figure{% endblock %}

{% block main %}
    <div class="trick_header_image" style="background: url('{{ asset('img/placeholder.jpg') }}') center 50%; background-size: cover; height: 300px; width: auto">
    </div>
    <h3 class="text-md-center mb-4 trick_form_title">{% block pageTitle %}Ajouter une figure{% endblock %}</h3>

    {% block includes %}{{ parent() }}{% endblock includes %}
{% endblock %}
