{% extends('base.html.twig') %}

{% form_theme form 'form/file_upload_form_template.html.twig' %}

{% block title %}SnowTricks - Modifier la figure{% endblock %}

{% block body %}
    {% if trick.images is not empty %}
        {% set image = trick.images.first() %}
        <div class="trick_header_image" style="background: url('{{ asset(image.path) }}') center 30%; background-size: cover; height: 300px; width: auto">
            {% include('flash_messages.html.twig') %}
        </div>
        <h3 class="text-md-center mb-4 trick_form_title">Modifier la figure</h3>
    {% else %}
        {% include('flash_messages.html.twig') %}
    {% endif %}
    {% include('trick_form.html.twig') %}
{% endblock %}
