{% extends('trick_management.html.twig') %}

{% block title %}SnowTricks - Modifier la figure{% endblock %}

{% block main %}
    {% if trick.images is not empty %}
        {% set image = trick.images.first() %}
        <div class="trick_header_image" style="background: url('{{ asset(image.path) }}') center 30%; background-size: cover; height: 300px; width: auto">
        </div>
        <h3 class="text-md-center mb-4 trick_form_title">{% block pageTitle %} Modifier la figure {% endblock pageTitle %}</h3>
    {% endif %}

    {% block includes %}
        {{ parent() }}
        {% include('partials/delete_confirmation.html.twig') %}
    {% endblock includes %}
{% endblock %}
