{% extends('base.html.twig') %}

{% block main %}
    <section class="login__section d-flex flex-column align-items-center justify-content-center">
        <h3 class="mb-5">Mot de passe oublié</h3>
        {{ form_start(form, {'attr': {'class': 'forms login__form d-flex flex-column'}}) }}
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
