{% extends("base.html.twig") %}

{% block body %}
    <section class="home__jumbotron">
        <p class="home__jumbotron--slogan">SnowTricks <br> Rejoignez la communauté des passionnés de snowboard !</p>
    </section>

    {% include('trick_card.html.twig') %}

    <section class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary mb-3">Voir plus</button>
    </section>
{% endblock %}
