{% extends("base.html.twig") %}

{% block body %}
    <section class="home__jumbotron">
        {% include('flash_messages.html.twig') %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="home__jumbotron--slogan">SnowTricks <br> Ravi de vous voir {{ app.user.firstName }} ! </p>
        {% else %}
            <p class="home__jumbotron--slogan">SnowTricks <br> Rejoignez la communauté des passionnés de snowboard !</p>
        {% endif %}
    </section>

    {% include('trick_card.html.twig') %}

    <section class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary mb-3">Voir plus</button>
    </section>
{% endblock %}
