{% extends("base.html.twig") %}

{% block main %}
    <section class="home__jumbotron">
        {% include('flash_messages.html.twig') %}
        <p class="home__jumbotron--slogan">SnowTricks <br> Rejoignez la communauté des passionnés de snowboard !</p>
    </section>

    {% include('trick_card.html.twig') %}

{% endblock %}
