{% extends("base.html.twig") %}

{% block main %}
    <section class="home__jumbotron">
        <p class="home__jumbotron--slogan">SnowTricks <br> Rejoignez la communauté des passionnés de snowboard !</p>
    </section>

    {% include('partials/trick_card.html.twig') %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/loadMore.js') }}"></script>
{% endblock %}
