{% extends('base.html.twig') %}

{% block body %}
    <section class="login__section d-flex flex-column align-items-center justify-content-center">
        <h3 class="mb-5">Success</h3>
        <p class="p-3">Un lien vous a été envoyé par mail. Il vous permettra de définir un nouveau mot de passe.</p>
    </section>
{% endblock %}
