{% extends('base.html.twig') %}

{% block main %}
    <main>
        <section class="login__section d-flex flex-column align-items-center justify-content-center">
            <h3 class="mb-5">Réinitialiser le mot de passe</h3>
            {{ form_start(form, {'attr': {'class': 'forms login__form d-flex flex-column'}}) }}
            <div class="form-group">
                {{ form_row(form.password.first) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password.second) }}
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
